<section class="u-clearfix u-grey-5 u-section-2" id="sec-eca0"><div class="u-clearfix u-sheet u-sheet-1">
            
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Nous contacter</h2>
                                <p class="u-text u-text-2">Notre adresse postale est: <br> Le père Noel, <br> Laponie <br> Téléphone: 04 22 52 10 10</p>
                                
    
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                            
                                <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
                                    <form action="https://nicepage.com/editor/Forms/Process" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form u-inner-form-1" source="email">
                                        <!-- hidden inputs for siteId and pageId -->
                                        <input type="hidden" id="siteId" name="siteId" value="33579">
                                        <input type="hidden" id="pageId" name="pageId" value="41040">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-f9f1" class="u-form-control-hidden u-label">Name</label>
                                            <input type="text" placeholder="Enter your Name" id="name-f9f1" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                                        </div>
                                        <!-- always visible -->
                                        <div class="u-form-email u-form-group">
                                            <label for="email-f9f1" class="u-form-control-hidden u-label">Email</label>
                                            <input type="email" placeholder="Enter a valid email address" id="email-f9f1" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                                        </div>
                                        
                                        
                                        <div class="u-form-group u-form-message">
                                            <label for="message-f9f1" class="u-form-control-hidden u-label">Message</label>
                                            <textarea placeholder="Enter your message" rows="4" cols="50" id="message-f9f1" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
                                        </div>
                                        
                                        <div class="u-form-group u-form-submit">
                                            <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">soumettre</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></section>