<h1 class="row justify-content-center mb-5">Voici mon équipe composé de moi:</h1>
<center>
<img src="https://media.licdn.com/dms/image/D5603AQHUOZyZm8GXug/profile-displayphoto-shrink_400_400/0/1704749177168?e=1713398400&v=beta&t=NNiFoM_0v_Olx3reecxw8gMOUukdIkz3BsGeYqL-fZo"/>
</center>